In [1]:
print("hello world")

hello world

In [3]:
"good morningn" # if you want to write in this way you have put last
print("Hi")

Hi

In [4]:
print("""dfdslf
ddsfds""") # use triple quotes to write in this way

dfdslf
ddsfds

In [5]:
#comments

In [6]:
##say hello to student <--markdown language

print("Hello students")

Hello students

In [10]:
45+56 #sum of two numbers

101

In [9]:
52*12

624

In [11]:
123%2

1

In [13]:
2**3 # power of 2 raised to 3

8

In [17]:
print((-2)**3)
print("result")

-8
result

In [19]:
#variables in python
##variables in python

In [23]:
x = 10 
print(x)
y =20

10

In [24]:
print(x+y)

30

In [25]:
#convention
#variable name start with alphabates
#dont start with special character like@#$%^
#dont start wit number
#

In [26]:
__num = 10 # its hidden variable

In [27]:
#data types

In [28]:
# int 
a = 7
type(a)

In [31]:
#flaot
pi = 3.14
type(pi)

float

In [32]:
pi=22/7
pi

3.142857142857143

In [33]:
#complex numbers 
a = 3+2j
a

(3+2j)

In [34]:
type(a)

complex

In [35]:
a.real

3.0

In [37]:
a.imag

2.0

In [38]:
#Dynamic typing -- at run time we change type of varible
a = 22
print(type(a))
a = 22.2
print(type(a))

<class 'int'>
<class 'float'>

In [39]:
# strong type
"Day" + 1

TypeError: can only concatenate str (not "int") to str

In [40]:
"day" + "1"

'day1'

In [42]:
2 + 2

4

In [44]:
lang = "python"
print("ddffdf "+lang+" dfff") #allowed but rarely used

ddffdf python dfff

In [48]:
lang ="javascript" # f  <-- formatted string method
print(f"hdfdf {lang} dsfd")# current standard approch used

hdfdf javascript dsfd

In [49]:
#old way
lang = "java"
print("hi welcome to {}".format(lang))

hi welcome to java

In [50]:
num = "first"
lang = "python"
print(f"Today is {num} class of {lang}")

Today is first class of python

In [54]:
#old way
num = "first"
lang = "python"
print("Today is {} class of {}".format(num, lang))

Today is first class of python

In [55]:
# one more way
#old way
num = "first"
lang = "python"
print("Today is" +num +" class of"+lang) #complicated not used but its allowed

Today isfirst class ofpython

In [58]:
#boolean data type
one = True
two = False
print(type(one))

<class 'bool'>

In [63]:
class1 =1500
you1 = 1600
result = class1 < you1

In [64]:
print(f"resutt of above is {result} ")

resutt of above is True

In [69]:
"My name is  \"Sunny\ " Chandra"

SyntaxError: unterminated string literal (detected at line 1) (2623436959.py, line 1)

In [70]:
"My name is  \"Sunny\" Chandra"

'My name is  "Sunny" Chandra'

In [71]:
print("\"")

"

In [73]:
print(""" " """)

 "

In [74]:
print(""" / """)

 /

In [77]:
# muli assignement of variable
a=b=c=10

In [ ]:
a,b,c

(10, 10, 10)

In [110]:
first_name , middele_name , last_name = "a" , "b", "c"
print(f"{first_name}.{last_name}.@gmail.com")

a.c.@gmail.com

In [112]:
print(f"""first name: {first_name}
last name: {last_name}""")

first name: a
last name: c

In [ ]:
#user input
name = input("enter the name")
print(f"your name is {name}")

enter the name fdsfds

your name is fdsfds

In [85]:
 a = input("enter the number")
b = input("enter the second number")
print(f"output is {a+b}")

enter the number 3
enter the second number 3

output is 33

In [90]:
#so convert them in integer 
# so did type casting
a = int(input("enter the number"))
b = int(input("enter the second number"))
print(f"output is {a+b}")

enter the number 3
enter the second number 4

output is 7

In [91]:
a = float(input("enter the number"))
b = int(input("enter the second number"))
print(f"output is {a+b}")

enter the number 12.34
enter the second number 34

output is 46.34

In [93]:
a = "50"
print(f"before the conversion {type(a)}")
a= int(a) # converted into integer
print(f"after the conversion {type(a)}")

before the conversion <class 'str'>
after the conversion <class 'int'>

In [94]:
# string to interger not allowed if there is decimal
a = "50.22"
print(f"before the conversion {type(a)}")
a= int(a) # converted into integer
print(f"after the conversion {type(a)}")

before the conversion <class 'str'>

ValueError: invalid literal for int() with base 10: '50.22'

In [96]:
#flaot to integr allowed
a = 50.22
print(f"before the conversion {type(a)}")
a= int(a) # converted into integer
print(f"after the conversion {type(a)}")

before the conversion <class 'float'>
after the conversion <class 'int'>

In [97]:
#flaot to integr allowed
a = 50
print(f"before the conversion {type(a)}")
a= float(a) # converted into integer
print(f"after the conversion {type(a)}")

before the conversion <class 'int'>
after the conversion <class 'float'>

In [101]:
#integer to boolean
a = 10
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")

before the conversion <class 'int'>
after the conversion True

In [102]:
#integer to boolean
a = 0
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")

before the conversion <class 'int'>
after the conversion False

In [103]:
#integer to boolean
a = -10
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")

before the conversion <class 'int'>
after the conversion True

In [105]:
#string to boolean
a = "abhi"
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")

before the conversion <class 'str'>
after the conversion True

In [106]:
#string to boolean
a = "True"
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")

before the conversion <class 'str'>
after the conversion True

In [107]:
#string to boolean
a = "False"
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}")
#it is treating as string-----never go with these options

before the conversion <class 'str'>
after the conversion True

In [108]:
# empty  string to boolean
a = ""  # no string
print(f"before the conversion {type(a)}")
a= bool(a) # converted into integer
print(f"after the conversion {a}") # no string thats why they give me false reult

before the conversion <class 'str'>
after the conversion False

In [113]:
#memort block
# memeory is assigned to the value of variavble passed
# not variable name
a= 10
b =4
c =10

In [114]:
id(a)

139717238555152

In [115]:
id(b)

139717238554960

In [116]:
id(c)

139717238555152

In [118]:
c = 20+ b

In [119]:
id(c)

139717238555600

In [120]:
#float
a= 10
b =4
c =10.0

In [121]:
id(a)

139717238555152

In [122]:
id(b)

139717238554960

In [123]:
id(c)

139716602421232