In [3]:
#string index
#       01234
#       -5-4-3-2-1
name = "sunny"

In [5]:
name[3]

'n'

In [7]:
name[-5]

's'

In [8]:
name[2]

'n'

In [9]:
# string slicing
name = "sunny"

'u'

In [10]:
name [1:]

'unny'

In [11]:
name [1:4]

'unn'

In [12]:
name [1:3]

'un'

In [13]:
#neagative slicing
name [-5:-4]

's'

In [19]:
date = "07/01/2022"

today_day = date[0:2]
this_month = date[3:5]
this_year = date[6:12]

print(f"todays day is {today_day} of month: {this_month} of this year {this_year}")

todays day is 07 of month: 01 of this year 2022

In [20]:
date =input("enter your birth date format DD/MM/YYYY")

today_day = date[0:2]
this_month = date[3:5]
this_year = date[6:12]

print(f"todays day is {today_day} of month: {this_month} of this year {this_year}")

enter your birth date format DD/MM/YYYY 10/02/202251

todays day is 10 of month: 02 of this year 202251

In [23]:
#palimdrom example mom , madam, nayan
name = "sunny"
name [0:5:2]  # start : end : step

'sny'

In [24]:
#palimdrom example mom , madam, nayan
name = "sunny"
name [0:5:3]  # start : end : step

'sn'

In [26]:
name = "sunny"
name [::1]

'sunny'

In [32]:
name = "sunny"
name [::-1]  # it start in reverse order

'ynnus'

In [42]:
name = "sunny"
name [::-2]  # reverse order with 2 steps

'yns'

In [1]:
name = "sunny"
name [-1:-6:-2]  # reverse order with 2 steps and -1 now become start and -6 become end 3

'yns'

In [4]:
name = "F" + name[1:] 
name

'Funny'

In [5]:
#other methods
name.replace("F", "SY")

'SYunny'

In [6]:
name = "Abhishek sakhare"
name = name.replace(" " , "_")
name

'Abhishek_sakhare'

In [7]:
#length of string. Lenght also count spaces 
len(name)

16

In [8]:
len("sunny   ")

8

In [9]:
name = "   sunny  "
name.replace(" ", "")

'sunny'

In [18]:
#strings are immutable 
name[0] = "F"
# it will throw error you can not add directly

TypeError: 'str' object does not support item assignment

In [20]:
#count specifications
name = "sunny"
name.count("n")

2

In [10]:
# split operation
name = "Abhihsek Eknath Sakhare"
name.split(" ")

['Abhihsek', 'Eknath', 'Sakhare']

In [24]:
first_name, middle_name, last_name = name.split(" ")
print(f"""first name: {first_name}
            second name: {middle_name}
            last name : {last_name}
""")

first name: Abhihsek
            second name: Eknath
            last name : Sakhare

In [26]:
date = "07/01/2022"
today_day, this_month , this_year = date.split("/")


print(f"todays day is {today_day} of month: {this_month} of this year {this_year}")

todays day is 07 of month: 01 of this year 2022

In [28]:
#after spliting
#now "07" has zero index 
# "01" has 1 index
# "2022" has 2nd index
date = input("dd/mm/yyyy")
a,b,c = date.split("/")
print(a,b,c)

dd/mm/yyyy 10/25/1045

10 25 1045

In [30]:
# if we store in one varible after spliting
date = input("dd/mm/yyyy")
a = date.split("/")
a[0]
a[1]

dd/mm/yyyy 10/10/2022

'10'

In [31]:
len(a[0])

2

In [32]:
len(a[2])

4

In [33]:
 # uppper and lower case  
name = "abhishek"
name.upper()

'ABHISHEK'

In [34]:
name.lower()

'abhishek'

In [40]:
name = input("enter your name")
print(f"name is {name.lower()}")
print(f"name is {name.upper()}")
print(f"name is title make first letter capital {name.title()}")
print(f"name is capitalize {name.capitalize ()}") # its take first letter capital and rest things take as smaller
print(f"name is swap {name.swapcase ()}") # it make upper case to lower and lower to upper

enter your name abhishke SAKHARE

name is abhishke sakhare
name is ABHISHKE SAKHARE
name is title make first letter capital Abhishke Sakhare
name is capitalize Abhishke sakhare
name is swap ABHISHKE sakhare

In [47]:
#join method
name = "Abhishek Sakhare"
"_".join(name)

'A_b_h_i_s_h_e_k_ _S_a_k_h_a_r_e'

In [48]:
len(name)

16

In [49]:
"".join(reversed(name))

'erahkaS kehsihbA'

In [50]:
name[::-1] # easy method

'erahkaS kehsihbA'

In [65]:
name = " = Abhishe sakhare="
name.strip(" ") # used to remove spaces from front and back not in between
name.lstrip(" ")                  # to remove left spaces
name.rstrip("=") # to remove right spaces

' = Abhishe sakhare'

In [68]:
#formatting
name = "sunny"
name.center(10, "#")

'##sunny###'

In [70]:
#checking string cases 
name = "abhishek"
name.isupper()

False

In [71]:
name.islower()

True

In [73]:
name.isspace()

False

In [74]:
name.istitle()

False

In [80]:
name = input("Enter your name: ")
print(f"user input: {name}")
if name.istitle():
    print("user has given correct input")
elif name.isspace():
    print("Wrong input please try again")
else:
    print(f"wrong input we need to autocorrect it")
    name= name.title()
    print(f"correct outpu is {name}")

Enter your name:  abhishek

user input: abhishek
wrong input we need to autocorrect it
correct outpu is Abhishek

In [85]:
phone_no = input("Enter your phone number")
if phone_no.isdigit() and len(phone_no) == 10 and phone_no !="0000000000":
    print(f"user input is correct : {phone_no}")
else:
    print("Invalid input")

Enter your phone number 0000000000

Invalid input

In [86]:
phone_no.startswith("0")

True

In [88]:
phone_no.endswith("0")

True

In [90]:
phone_no = input("Enter your phone numbert")
if phone_no.startswith("+91") and phone_no[1:].isdigit() and len(phone_no):
    print("correct phone number")
else:
    print("invalid number")

Enter your phone numbert +911234567890

correct phone number

In [94]:
#do for pan number
pan_number = "ALDKX6466X" # it checks alphabate and numeric
pan_number.isalnum() # do slicing and use

True

In [5]:
str1 = "abhishek"
reversed(str1)

In [7]:
for i in str1()

'abhishek'