In [9]:
# while loop

total_marks = 1000
cut_off_marks = 400
scores = [100,355,399,600]
year = 0
while scores[year] <= cut_off_marks:
    print(f"Your score is {scores[year]}")
    year = year+1
if scores[year] >= cut_off_marks:
    print(f"Congratulation you are qualified with score {scores[year]}")

Your score is 100
Your score is 355
Your score is 399
Congratulation you are qualified with score 600

In [16]:
""""
counting 10 ruppee money
"""
notes = 5
i  = 1
while i<= notes:
    print(f"current sum {i*10}")
    i = i+1

current sum 10
current sum 20
current sum 30
current sum 40
current sum 50

In [19]:
# for loop
for i in  range (0,10): # here 10 is out of bond
    print(f"10 x {i+1}={(i*1)+1}")

10 x 1=1
10 x 2=2
10 x 3=3
10 x 4=4
10 x 5=5
10 x 6=6
10 x 7=7
10 x 8=8
10 x 9=9
10 x 10=10

In [20]:
# for loop
for i in  range (0,11): # here 10 is out of bond
    print(f"10 x {i}={i*1}")

10 x 0=0
10 x 1=1
10 x 2=2
10 x 3=3
10 x 4=4
10 x 5=5
10 x 6=6
10 x 7=7
10 x 8=8
10 x 9=9
10 x 10=10

In [21]:
for i in range (0,11): # 11 is out of bound
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [23]:
"abhishk"*10

'abhishkabhishkabhishkabhishkabhishkabhishkabhishkabhishkabhishkabhishk'

In [29]:
# calculating total cost
cost_of_items = [100,200,300,400]
total_sum = 0
N = len(cost_of_items)
for i in range (0,N):
    total_sum = total_sum + cost_of_items[i]
print(total_sum)

1000

In [41]:
# other ways also
cost_of_items = [100,200,300,400]
total_sum = 0
for cost in  cost_of_items:
     total_sum = total_sum + cost
print(total_sum)

1000

In [42]:
# train journey
stations  = ["station 01", "station 02","station 03","station 04"]
for current_stations in stations:
    print(f"Current station is : {current_stations}")

Current station is : station 01
Current station is : station 02
Current station is : station 03
Current station is : station 04

In [60]:
#breaks & continue .
# break : exit the loop..dont proceed at all

# other ways also
cost_of_items = [100,200,300,400]
total_sum = 0
budget  = 400
for cost in  cost_of_items:
     total_sum = total_sum + cost
     if total_sum > budget:
        print(f"Current total is more than my budget: {budget}")
        print("Please remove the last item")
        total_sum = total_sum - cost
        break
    
       
print(total_sum)

Current total is more than my budget: 400
Please remove the last item
300

In [66]:
for i in  range (0,100):
    if i >= 50:
        print(i)
        break

50

In [67]:
#continue... means start the loop again
for i in range(0,20):
    if i %2==0: # if number is even then start the loop again
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [72]:
#continue... means start the loop again
for i in range(1,20):
    if i %2!=0: # if number is even then start the loop again
        break
    print(i)

In [73]:
# break -- completely stop the loop 
# continue -- skips the current loop. it skip statements after 
            # contine keyword

In [75]:
# pass
for i in range(1,10):
    pass # writing code later

In [76]:
#continue... means start the loop again
for i in range(0,20):
    if i %2==0: # if number is even then start the loop again
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19