In [10]:
def test1():
    print("This is abhishek")

In [11]:
type(test1())

This is abhishek

NoneType

In [12]:
"a" + test1() # it will give you error

This is abhishek

TypeError: can only concatenate str (not "NoneType") to str

In [13]:
#if you want to concatenate then you have to return in function
def test2():
    return "This is abhishek"

In [14]:
type(test2())

str

In [15]:
"a" + test2() #in this way it is possible

'aThis is abhishek'

In [16]:
def test3():
    return 1,"abhishek", [2,3,4,5,67]

In [17]:
#above output will be tuple
x,y,z = test3()

In [18]:
x

1

In [19]:
y

'abhishek'

In [20]:
z

[2, 3, 4, 5, 67]

In [21]:
#write a function: i/p = list and and it will give only integers at output

In [22]:
l = [2323,64,6,4,6,3 ,"abhishek", [3,4,5,5,5,5,]]
def test4(l):
    n = []
    for i in l:
        if type(i) == int:
            n.append(i)
        if type(i) == list :
                for j in i:
                    if type(j) == int:
                        n.append(j)
        
    return n

In [23]:
test4(l)

[2323, 64, 6, 4, 6, 3, 3, 4, 5, 5, 5, 5]

In [24]:
#write a code which will take dict as input and it will return keys as output

In [25]:
d = {2: "343", 4 :"35"}
def test5(d):
    if type(d) == dict:
        return d.keys()
    else:
        return "You have not passed dictonary"

In [26]:
test5(d)

dict_keys([2, 4])

In [27]:
#write function which concatenate string

In [28]:
def test9(a,b):
    if type(a) == list and type(b) == list:
        return a.extend(b)
    else:
        return "your data is not type of list"

In [29]:
a=test9([4,2,34,54,5,5],[2,5,5,6,78,8])

In [30]:
a # you will not see output becoz we are giving input in run time so it is not storing

In [31]:
a = [5,5,6,4,3,54,6]
b = [2,7,6,4,23,4,5,3]
test9(a,b)

In [32]:
a

[5, 5, 6, 4, 3, 54, 6, 2, 7, 6, 4, 23, 4, 5, 3]

In [40]:
# write a function for dot traingle by giving input
def test10(n):
    """This function will help you to create traingle using * with any number"""
    for i in range(0 , n+1):
        for j in range(i):
            print("*", end = " " )
        print("\n")

In [41]:
test10(n)

integer input 5

*

* *

* * *

* * * *

* * * * *

In [42]:
help(test10)

Help on function test10 in module __main__:

test10(n)
    This function will help you to create traingle using *

In [43]:
help(test10(n))

*

* *

* * *

* * * *

* * * * *

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.