In [36]:
# installation connector to link python and mysql
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaconda\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\anaconda\lib\site-packages (from mysql-connector-python) (4.21.12)

In [1]:

import mysql.connector as connectioon

In [2]:
mydb = connectioon.connect(host = 'localhost',user = 'root', passwd= 'tiger')# user : use user id, password of mysql

In [3]:
# now jupyter notebook and mysql is connected
#mydb is connection varibe

In [4]:
cursor = mydb.cursor() # create pointer or cursor to read

In [5]:
cursor.execute("show databases")  # excute queries

In [6]:
cursor.fetchall() # fetch it

[('abhidb',),
 ('abhishek_sql',),
 ('information_schema',),
 ('mysql',),
 ('new_schema',),
 ('performance_schema',),
 ('practice',),
 ('sys',)]

In [7]:
curor = mydb.cursor()

In [62]:
cursor.execute("create database abhishek_sql") # dabase is created

DatabaseError: 1007 (HY000): Can't create database 'abhishek_sql'; database exists

In [8]:
cursor.execute('CREATE TABLE abhishek_sql.school (student_id INT(10), firstname VARCHAR(30), lastname VARCHAR(30), regid INT(10), classname VARCHAR(30))')

ProgrammingError: 1050 (42S01): Table 'school' already exists

In [9]:
curor.execute('use abhishek_sql') # use databae

In [10]:
curor.execute("show tables")

In [11]:
cursor.fetchall()

[('school',)]

In [12]:
cursor.execute('insert into abhishek_sql.school values(4234,"abhdddi", "sakdddfhare",3433,"fds")')

In [13]:
mydb.commit() # to store data

In [14]:
cursor.execute('select * from abhishek_sql.school')

In [15]:
cursor.fetchall()

[(4234, 'abhi', 'sakhare', 343, 'fds'),
 (4234, 'abhdddi', 'sakdddfhare', 3433, 'fds'),
 (4234, 'abhdddi', 'sakdddfhare', 3433, 'fds')]