In [2]:
import sqlite3 # sql lite  : in memory database

In [2]:
db = sqlite3.connect('sqlite.db') # create

In [9]:
ls

sqlite.db  SQL_LITE.ipynb

In [7]:
# creating cursor
c = db.cursor()

In [8]:
c.execute("create table fsds(name text, batchid int , mark real)") 
# real : real number

In [12]:
c.execute("insert into fsds values('abhi', 2345,4575.55)")

In [13]:
c.execute("insert into fsds values('abhi1', 2345,4575.55)")
c.execute("insert into fsds values('abhi2', 2345,4575.55)")
c.execute("insert into fsds values('abhi3', 2345,4575.55)")
c.execute("insert into fsds values('abhi4', 2345,4575.55)")
c.execute("insert into fsds values('abhi5', 2345,4575.55)")

In [14]:
data  = c.execute("select * from fsds")

In [15]:
for i in data:
    print(i)

('abhi', 2345, 4575.55)
('abhi1', 2345, 4575.55)
('abhi2', 2345, 4575.55)
('abhi3', 2345, 4575.55)
('abhi4', 2345, 4575.55)
('abhi5', 2345, 4575.55)

In [16]:
db.commit()

In [17]:
db.close()

In [25]:
db = sqlite3.connect("sqlite.db")

In [26]:
c= db.cursor()

In [29]:
data = c.execute("select  * from fsds where mark>400")

In [30]:
for i in data:
    print(i)

('abhi', 2345, 4575.55)
('abhi1', 2345, 4575.55)
('abhi2', 2345, 4575.55)
('abhi3', 2345, 4575.55)
('abhi4', 2345, 4575.55)
('abhi5', 2345, 4575.55)

In [48]:
data = c.execute("select name, mark from fsds")

In [46]:
for i in data:
    print(i)

('abhi', 4575.55)
('abhi1', 4575.55)
('abhi2', 4575.55)
('abhi3', 4575.55)
('abhi4', 4575.55)
('abhi5', 4575.55)

In [49]:
data.fetchall()

[('abhi', 4575.55),
 ('abhi1', 4575.55),
 ('abhi2', 4575.55),
 ('abhi3', 4575.55),
 ('abhi4', 4575.55),
 ('abhi5', 4575.55)]

In [9]:
db.close()

In [10]:
db = sqlite3.connect('jobdb.db')

In [11]:
c= db.cursor()

In [12]:
c.execute("create table student(student_id INT, student_name text, student_mail_id text, marks int)")

In [13]:
c.execute("create table address(student_id text, pincode int, location text, nearby text, phone_no int)")

In [20]:
c.execute("insert into student values(1,'abhishek', 'abhishek@gmail.com',45)")

In [21]:
c.execute("insert into student values(2,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(3,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(4,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(5,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(6,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(7,'abhishek', 'abhishek@gmail.com',45)")
c.execute("insert into student values(8,'abhishek', 'abhishek@gmail.com',45)")

In [22]:
c.execute("insert into address values(1,345645, 'pune','office',234568678)")
c.execute("insert into address values(2,345645, 'pune','office',234568678)")
c.execute("insert into address values(3,345645, 'pune','office',234568678)")
c.execute("insert into address values(4,345645, 'pune','office',234568678)")
c.execute("insert into address values(5,345645, 'pune','office',234568678)")
c.execute("insert into address values(6,345645, 'pune','office',234568678)")
c.execute("insert into address values(7,345645, 'pune','office',234568678)")
c.execute("insert into address values(8,345645, 'pune','office',234568678)")

In [23]:
for i in c.execute("select * from address"):
    print(i)

('1', 345645, 'pune', 'office', 234568678)
('2', 345645, 'pune', 'office', 234568678)
('3', 345645, 'pune', 'office', 234568678)
('4', 345645, 'pune', 'office', 234568678)
('5', 345645, 'pune', 'office', 234568678)
('6', 345645, 'pune', 'office', 234568678)
('7', 345645, 'pune', 'office', 234568678)
('8', 345645, 'pune', 'office', 234568678)

In [26]:
data = c.execute("select *  from  student s left join address a on s.student_id =  a.student_id")

In [27]:
for i in data:
    print(i)

(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(1, 'abhishek', 'abhishek@gmail.com', 45, '1', 345645, 'pune', 'office', 234568678)
(2, 'abhishek', 'abhishek@gmail.com', 45, '2', 345645, 'pune', 'office', 234568678)
(3, 'abhishek', 'abhishek@gmail.com', 45, '3', 345645, 'pune', 'office', 234568678)
(4, 'abhishek', 'abhishek@gmail.com', 45, '4', 345645, 'pune', 'office', 234568678)
(5, 'abhishek', 'abhishek@gmail.com', 45, '5', 345645, 'pune', 'office', 234568678)
(6, 'abhishek', 'abhishek@gmail.com', 45, '6', 345645, 'pune', 'office', 234568678)
(7, 'abhishek', 'abhishek@gmail.com', 45, '7', 345645, 'pune', 'office', 234568678)
(8, 'abhishek', 'abhishek@gmail.com', 45, '8', 345645, 'pune', 'office', 234568678)

In [32]:
c.execute("update student set student_id =100 where student_id ==1")

In [33]:
data = c.execute("select * from student")
for i in data:
    print(i)

(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(100, 'abhishek', 'abhishek@gmail.com', 45)
(2, 'abhishek', 'abhishek@gmail.com', 45)
(3, 'abhishek', 'abhishek@gmail.com', 45)
(4, 'abhishek', 'abhishek@gmail.com', 45)
(5, 'abhishek', 'abhishek@gmail.com', 45)
(6, 'abhishek', 'abhishek@gmail.com', 45)
(7, 'abhishek', 'abhishek@gmail.com', 45)
(8, 'abhishek', 'abhishek@gmail.com', 45)

In [34]:
db.close()

In [36]:
#MAP 
#map(funtion_name , iterble)
#lambda x (input): x+5 (output)

In [16]:
l1 = [3,2,4,6,5,67,5,5,7]

In [17]:
def fun(a):
    return a+5

In [18]:
list(map(fun,l1))

[8, 7, 9, 11, 10, 72, 10, 10, 12]

In [19]:
l2 = ["555","334","34"]

In [20]:
def fun1(a):
    return (int(a)+5)

In [21]:
list(map(fun1,l2))

[560, 339, 39]

In [22]:
list(map(lambda x: int(x) , l1))

[3, 2, 4, 6, 5, 67, 5, 5, 7]

In [ ]:
#filter

In [23]:
[i for i in l1 if i%2==0]

[2, 4, 6]

In [27]:
def test4(a):
    if a%2==0:
        return a

In [29]:
list(filter(test4,l1)) # filter give output which satisfy condition (only true)

[2, 4, 6]

In [30]:
#reduce function

In [31]:
from functools import reduce

In [32]:
l= [3434,4,25,4,3,5,3,5,2]

In [34]:
def test5(a,b):
    return a+b

In [36]:
reduce(test,l) # reduce dont work for 3 element, pass two argument in function which you are going  to call in reduce

3485

In [37]:
l = [3]

In [38]:
reduce(test,l) # it is going to work ,

3

In [40]:
l = []
reduce(test,l) # gives error

TypeError: reduce() of empty iterable with no initial value

In [41]:
# zip fucnction

In [51]:
l = [1,2,3,5,6,8]
l1 =  [3,4,6,3]
l2 = ["abhishek", "sakhare","dfgh"]

In [52]:
#  zip give tuple of element

In [53]:
list(zip(l,l1,l2))

[(1, 3, 'abhishek'), (2, 4, 'sakhare'), (3, 6, 'dfgh')]